<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Ajout Client</title>

    <!-- Custom fonts for this template-->
    <link
      href="/dashboard/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <link href="/dashboard/css/sb-admin-2.min.css" rel="stylesheet" />
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <div th:insert="~{/fragments/nav :: nav}"></div>

      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <div th:insert="~{/fragments/TopBarDash :: topbar}"></div>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
              <a
                class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                ><i class="fas fa-download fa-sm text-white-50"></i> Generate
                Report</a
              >
            </div>

            <!-- Content Row -->
            <div class="mb-4">
              <form
                th:action="@{/dashboard/clients/addClient}"
                th:object="${clientForm}"
                method="post"
              >
                <div class="mb-3">
                  <label class="form-label">Nom: </label>
                  <input
                    type="text"
                    class="form-control"
                    name="nom"
                    aria-describedby="nom"
                  />
                </div>
                <div class="mb-3">
                  <label class="form-label">Prenom: </label>
                  <input
                    type="text"
                    class="form-control"
                    name="prenom"
                    aria-describedby="prenom"
                  />
                </div>
                <div class="mb-3">
                  <label class="form-label">Adresse: </label>
                  <input
                    type="text"
                    class="form-control"
                    name="adresse"
                    aria-describedby="adresse"
                  />
                </div>

                <div class="mb-3">
                  <label class="form-label">Telephone: </label>
                  <input
                    type="text"
                    class="form-control"
                    name="telephone"
                    aria-describedby="telephone"
                  />
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>

            <!-- Content Row -->

            <!-- Content Row -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Your Website 2021</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Load jQuery first -->
    <script th:src="@{/dashboard/vendor/jquery/jquery.min.js}"></script>

    <!-- Load jQuery Easing after jQuery -->
    <script
      th:src="@{/dashboard/vendor/jquery-easing/jquery.easing.min.js}"
    ></script>

    <!-- Load Bootstrap JavaScript (includes Popper.js) after jQuery and jQuery Easing -->
    <script
      th:src="@{/dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js}"
    ></script>

    <!-- Load your custom JavaScript file (sb-admin-2) last -->
    <script th:src="@{/dashboard/js/sb-admin-2.min.js}"></script>
  </body>
</html>
